* {
  font-family: "Jost", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
* a {
  text-decoration: none;
  color: black;
}
* a:hover * a:visited {
  text-decoration: none;
  color: black;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px 0 100px;
  background-color: #141024;
}

.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.header-nav__item {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  text-align: center;
  color: #fff;
}
.header-nav__item:hover {
  color: grey;
}

.header__tel {
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 160%;
  text-align: right;
  color: #fff;
}
.header__tel:hover {
  color: grey;
}

.header__tel-icon {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.starter-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.starter-content__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.starter-content__img {
  width: 40vw;
}

.starter-content__title {
  font-weight: 600;
  font-size: 70px;
  line-height: 160%;
  color: #fff;
  padding-bottom: 20px;
}

.starter-content__subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: #fff;
  padding-bottom: 50px;
  width: 478px;
}

.starter-content__button {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: #fff;
  background-color: #d52027;
  border-radius: 5px;
  padding: 25px 54px;
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.middle-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #141024;
  padding: 0 100px;
  padding-top: 93px;
}

.middle-container2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  width: 1200px;
  padding: 120px 100px;
}

.burger {
  display: none;
}

.about__us {
  display: block;
  font-weight: 400;
  font-size: 30px;
  line-height: 160%;
  color: #141024;
  max-width: 891px;
  padding-bottom: 60px;
}
.about__us b {
  font-weight: 600;
}

.middle__stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.middle-stats__section1, .middle-stats__section2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.middle-stats__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 260px;
}

.stats-item__title {
  font-weight: 600;
  font-size: 70px;
  line-height: 160%;
  color: #d52027;
}

.stats-item__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: rgba(20, 16, 36, 0.7);
}

@media (max-width: 1400px) {
  .stats-item__subtitle {
    font-size: 16px;
  }
  .stats-item__title {
    font-size: 60px;
  }
  .middle-container2 {
    width: auto;
  }
  .middle__stats {
    gap: 0;
  }
}
@media (max-width: 1200px) {
  .starter-content__title {
    font-size: 60px;
  }
  .middle__stats {
    flex-direction: column;
    gap: 100px;
  }
  .middle-stats__section1, .middle-stats__section2 {
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
    width: auto;
  }
  .middle-stats__item {
    width: 50%;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
  }
}
@media (max-width: 1100px) {
  .header {
    padding: 17px 10px 20px 10px;
  }
  .middle-container1 {
    padding: 0 20px;
    padding-top: 50px;
  }
  .starter-content__title {
    font-size: 48px;
  }
}
@media (max-width: 1024px) {
  body {
    width: 100vw;
  }
  .burger {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 3;
    transition: 0.3s ease-in-out;
    opacity: 1;
  }
  .burger.hidden {
    z-index: -10;
    opacity: 0;
  }
  .header__nav.active {
    display: flex;
    right: 0;
    transition: 0.5s ease;
    right: 0;
    z-index: 2;
    width: 320px;
  }
  .header__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    align-items: center;
    background-color: #141024;
    height: 100vh;
    position: absolute;
    right: 0px;
    width: 0;
    top: 0;
    transition: 0.5s ease;
    gap: 20px;
  }
  .header__tel {
    display: none;
  }
  .header__tel-icon {
    position: absolute;
    display: flex;
    z-index: 1;
    right: 64px;
    top: 10px;
    opacity: 1;
    transition: 0.7s ease;
  }
  .header__tel-icon.hidden {
    opacity: 0;
    transition: 0.3s ease;
  }
  .header-nav__item {
    opacity: 0;
    font-size: 0;
    white-space: nowrap;
    transition: 0.5s ease;
  }
  .header-nav__item.active {
    display: block;
    opacity: 1;
    font-size: 30px;
    transition: 0.5s ease;
  }
  .starter-content__subtitle {
    width: 300px;
  }
  .starter-content {
    gap: 0;
  }
}
@media (max-width: 864px) {
  .starter-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .starter-content__img {
    width: 100%;
  }
  .starter-content__text {
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 720px) {
  .header__nav.active {
    width: 100%;
  }
  .about__us {
    font-size: 26px;
    padding-bottom: 40px;
  }
  .middle-container2 {
    padding-top: 60px;
  }
  .middle__stats {
    gap: 30px;
  }
  .middle-stats__section1, .middle-stats__section2 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 30px;
  }
  .stats-item__title {
    font-size: 70px;
  }
  .stats-item__subtitle {
    font-size: 18px;
  }
}
@media (max-width: 674px) {
  .about__us {
    font-size: 20px;
  }
  .middle-container2 {
    padding: 60px 10vw;
  }
  .stats-item__title {
    font-size: 60px;
  }
  .stats-item__subtitle {
    font-size: 16px;
  }
  .middle-stats__item {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .header__logo {
    width: 136px;
    height: 29px;
  }
  .starter-content {
    gap: 0;
    position: relative;
    padding-bottom: 40px;
  }
  .starter-content__title {
    font-size: 30px;
  }
  .starter-content__subtitle {
    font-size: 16px;
  }
  .starter-content__button {
    position: absolute;
    font-size: 16px;
    bottom: 40px;
    width: calc(100vw - 108px - 20px);
  }
  .middle-container2 {
    padding: 60px 10px;
  }
}